body{
    background-image:url('image.jpg');
    background-size: cover;
    display: grid;
    place-items: center;
    font-family: 'Noto Sans', sans-serif;
}
.login{
    margin-top: 100px;
    color: black;
    justify-content: center;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: white;
    width: 400px;
    border-radius: 4%;
    border:1px solid #b83966;
}
.login-details{
    text-align: left;
}
.logo{
    width: 100px;
    margin-top: 50px;
    
}
button{
    margin-bottom: 50px;
    margin-top: 30px;
    width: 120%;
    height: 30px;
    border: none;
    background-color:#b83966;
    color: white;
}

input{
    width: 100%;
    height: 25px;
    border:1px solid #b83966;
    border-radius: 5%;
}